  
  
  
  DummyEnum = UInt32;
  DummyFlags = UInt32;
  
  OpenGLException = sealed class(Exception)
    private ec: ErrorCode;
    public property Code: ErrorCode read ec;
    
    public constructor(ec: ErrorCode);
    begin
      inherited Create($'Ошибка OpenGL: "{ec}"');
      self.ec := ec;
    end;
    
  end;
  
  IPlatformAPI = interface
    function GetProcAddress(lpszProc: string): IntPtr;
  end;
  
  
  