  
  
  
  OpenCLException = sealed class(Exception)
    private ec: ErrorCode;
    public property Code: ErrorCode read ec;
    
    public constructor(Code: ErrorCode; Message: string);
    begin
      inherited Create(Message);
      self.ec := Code;
    end;
    
    public constructor(Code: ErrorCode) :=
    Create(Code, $'Ошибка OpenCL: {Code}');
    
  end;
  
  
  