    
    
    
    {$region Get}
    
    public function GetData: IntPtr;
    
    public function GetData(offset, len: CommandQueue<integer>): IntPtr;
    
    public function GetValue<TRecord>: TRecord; where TRecord: record;
    
    public function GetValue<TRecord>(offset: CommandQueue<integer>): TRecord; where TRecord: record;
    
    {$endregion Get}
    
    
    