    
    
    
    public property FunctionName:   String read GetString(KernelInfo.KERNEL_FUNCTION_NAME);
    public property NumArgs:        UInt32 read GetUInt32(KernelInfo.KERNEL_NUM_ARGS);
    public property ReferenceCount: UInt32 read GetUInt32(KernelInfo.KERNEL_REFERENCE_COUNT);
    public property Attributes:     String read GetString(KernelInfo.KERNEL_ATTRIBUTES);
    
    
    