    
    
    
    {$region Get}
    
    public function ThenGetValue(ind: CommandQueue<integer>): CommandQueue<&T>;
    
    public function ThenGetArray: CommandQueue<array of &T>;
    
    public function ThenGetArray(ind, len: CommandQueue<integer>): CommandQueue<array of &T>;
    
    {$endregion Get}
    
    
    