


{$region Get}

function CLArray<T>.GetValue(ind: CommandQueue<integer>): &T :=
Context.Default.SyncInvoke(self.NewQueue.AddGetValue(ind));

function CLArray<T>.GetArray: array of &T :=
Context.Default.SyncInvoke(self.NewQueue.AddGetArray);

function CLArray<T>.GetArray(ind, len: CommandQueue<integer>): array of &T :=
Context.Default.SyncInvoke(self.NewQueue.AddGetArray(ind, len));

{$endregion Get}


