    
    
    
    {$region Get}
    
    public function GetValue(ind: CommandQueue<integer>): &T;
    
    public function GetArray: array of &T;
    
    public function GetArray(len: CommandQueue<integer>): array of &T;
    
    public function GetArray2(len1,len2: CommandQueue<integer>): array[,] of &T;
    
    public function GetArray3(len1,len2,len3: CommandQueue<integer>): array[,,] of &T;
    
    {$endregion Get}
    
    
    