  
  
  
  DummyEnum  = UInt32;
  DummyFlags = UInt32;
  
  OpenGLException = class(Exception)
    
    constructor(text: string) :=
    inherited Create($'Ошибка OpenGL: "{text}"');
    
  end;
  
  
  