


function GetRefCount(self: cl_event): IntPtr; extentionmethod;
begin
  cl.GetEventInfo(self, EventInfoType.REFERENCE_COUNT, new UIntPtr(IntPtr.Size), Result, nil).RaiseIfError;
end;

function GetState(self: cl_event): CommandExecutionStatus; extentionmethod;
begin
  cl.GetEventInfo(self, EventInfoType.COMMAND_EXECUTION_STATUS, new UIntPtr(4), Result, nil).RaiseIfError;
end;


