


type dyn = sealed partial class(api_with_loader) end;
constructor dyn.Create(loader: PlatformLoader) := inherited Create(loader);
function dyn.GetProcAddress(name: string) := loader.GetProcAddress(name);


