


{$region Global}

{%Global\implementation%}

{$endregion Global}

{$region Constant}

{%Constant\implementation%}

{$endregion Constant}

{$region Local}

{%Local\implementation%}

{$endregion Local}

{$region Private}

{%Private\implementation%}

{$endregion Private}

{$region Generic}

{%Generic\implementation%}

{$endregion Generic}


